@tailwind base;
@tailwind components;
@tailwind utilities;
.one{
    background: #000;
}
@layer utilities {

    .transition-link{
        @apply transition-all ease-in duration-150 hover:text-neutral-400 active:text-white;
    }
    .animationmenu{
        @apply transition-all ease-in duration-150 h-auto ;
    }
    .gradient-1{
        /* @apply bg-gradient-to-r from-color1 via-color2 via-color3 via-color4 via-color5 via-color6 via-color5 via-color4 via-color3 to-color2 to-color1; */
        @apply bg-gradient-to-r from-color1  via-color5 via-color5  via-color6 via-color6 via-color5 via-color5  to-color1;
        background-size: 800%;
  background-position: 0% 50%;

    }
  }
  