/* #swiper-1{
    height: 60vh;
} */

#swiper-1 img{
    height: 100%;
    object-fit: cover;
    object-position: center;    
}
#swiper-1 .swiper-pagination-bullet{
    background-color: #D9D9D9;
    opacity: 0.5;

}
#swiper-1 .swiper-pagination-bullet-active{
    background-color: #D9D9D9;
    opacity: 1;

}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

#swiper-2 .swiper-pagination {
    transform: translatey(8px);}
#swiper-4 .swiper-pagination {
    transform: translatey(10px);
}

#swiper-4 .swiper-pagination-bullet{
        background-color: #D9D9D9;
        opacity: 0.8;
    
    }
#swiper-4 .swiper-pagination-bullet-active{
        background-color: #0d5292;
        opacity: 1;
    
    }
#swiper-5{
    height: 25vh;
}
.text{
    z-index: 30;
}
.ourproject-1{
    background-image: url('src/images/pixelcut-export.jpg');
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}
